<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
     

    <title>Login | LifeSavers❤️</title>
</head>
<body>
    <div class="bg"></div>
    
    <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages%}
        <div style="width:270px;margin:auto;">
            <h4 style="width:250px;color:#d9534f" role="alert" class="text-center alert alert-danger">{{message}}
            </h4>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
  <div class="header1" style="background-color: #FFD000;padding:0.5px">
    <h2 style="text-align: center;">Log In </h2>
  </div>


  <form action="/login" method="POST" id="form" class="form">

    <div class="form-control">
      <label for="username">Email</label>
      <input required name="email" type="text" placeholder="" id="email" />
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <div class="form-control">
      <label for="username">Password</label>
      <input required name="password" type="password" placeholder="" id="password" />
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-exclamation-circle"></i>
      <small>Error message</small>
    </div>

    <button style="cursor: pointer;">Submit</button>
    <a  style="text-align:center;padding-top:2px"  href="/register">
        No account yet? <b>Register</b>
    </a>
  </form>

</div>



</body>
</html>