<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/love-favicon.png"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
     

    <title>Sign Up | LifeSavers❤️</title>
</head>
<body>
    <div class="bg"></div>
    
    <div class="container">
  <div class="header1" style="background-color: #FFD000;padding:0.5px">
    <h2 style="text-align: center;">Create Account</h2>
  </div>

  <form action="/register" method="POST" id="form" class="form">

    <div class="form-control">
      <label for="username">Username</label>
      <input name="username" required type="text" placeholder="" id="username" />
    </div>

    <div class="form-control">
      <label for="username">Email</label>
      <input name="email" required type="email" placeholder="" id="email" />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input name="password" required type="password" placeholder="" id="password" />
    </div>

    <button style="cursor:pointer;">Submit</button>
     <a  style="text-align:center;padding-top:2px"  href="/login">
        Already have an account? <b>Login</b>
    </a>

  </form>

</div>


<button class="floating-btn">
  Get in Touch
</button>


</body>
</html>